* {
  list-style: none;
}

/* container */

.container {
  background-color: white;
  border-radius: 30px;
  width: 500px;
  height: 800px;

  margin: auto;
  margin-top: 5rem;

  /* shadow 규격 */
  box-shadow: 0px 0px 7px gray;
}

/* ------------------------------------------------ */

/* nav bar */
.nav {
  padding: 1.5rem;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.todo-day {
  font-size: 2.3em;
  margin-bottom: 0;
}
.todo-date {
  font-size: 1.3em;
  margin-top: 0;
  color: gray;
}
.todo-left {
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 0;

  color: rgb(255, 212, 23);
  font-weight: bold;
}

/* ------------------------------------------------ */
/* list */
.todo-lists {
  padding: 2em;
  /* border: 1px solid black; */
  height: 300px;

  /* margin-bottom: 0; */
  overflow: scroll;
  overflow-x: hidden;
}
.todo-confirm {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;

  border: 0.5px solid gray;
  background-color: transparent;
  cursor: pointer;
}
.todo-list {
  display: flex;
  margin-bottom: 1.4em;
}

.todo-title {
  font-size: 1.4em;
  margin-left: 1.1em;
  color: rgb(100, 102, 102);
}
.button-delete {
  font-size: 1.4em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(184, 185, 186);
}
.button-delete:hover {
  color: orangered;
  transform: scale(1.2);
}

/* ------------------------------------------------ */

.button-input {
  position: relative;
  bottom: -150px;
  left: 190px;

  width: 100px;
  height: 100px;
  border-radius: 50px;

  font-size: 50px;
  color: white;

  border: none;
  background-color: rgb(255, 212, 23);
  cursor: pointer;

  z-index: 10;
}
.button-input:hover {
  background-color: rgb(252, 221, 139);
}

.input-container {
  position: relative;
  bottom: 76px;
  background-color: rgb(245, 245, 245);
  height: 172px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
}

.input-todo {
  margin-top: 50px;
  height: 40px;
  width: 400px;
  font-size: 17px;
}
